$colorVerdeMusgo: #0F6225;
$colorCharcoalBlue: #354052;
$colorPalatinateBlue: #333ccc;
$colorSaintPatrickBlue: #2a2b86;
$colorGreyLight: #FBFBFB;
$colorDarkGrey:#b0b0b1;
$colorTimberwolfGrey: #d8d8d8;
$colorOldLavenderGrey: #757575;
$colorPlatinumGrey: #e8e8e8;
$colorPlatinumLightGrey: #e9e9e9;
$colorMunsellGrey: #f3f4f5;
$colorDisabled: #bababa;
$colorTuquoiseGreen: #31d2cc;
$colorShamrockGreen: #32d5a0;
$colorAwesomePink: #f4174d;
$colorPalePink: #f2dede;
$colorRedInvalid: #dc3545;
$colorFirebrick: #b22222;
$colorWhite: #FFF;
$colorDarkJungleGreen: #212121;
$fonteTextoPequena: 12px;
$fonteTextoMedia: 14px;
$fonteTextoGrande: 16px;
$fonteTextoExtraGrande: 18px;
$fonteTextoExtraGG: 20px;
$colorOldLavenderGreyClean: #e8e8e8;
$colorUscGold: #ffcc00;

$mediaBreakpointSm: 576px;
$mediaBreakpointMd: 768px;
$mediaBreakpointLg: 992px;
$mediaBreakpointXl: 1200px;

