<div class="container">
  <h2>Produtos</h2>
  <a class="nav-link adicionar-produto" [routerLink]="['/produtos/adicionar-produto']">
    Adicionar Produto<img src="../../assets/img/adicionar.svg" alt="Adicionar">
  </a>
  <div class="produtos">
    <div class="row" id="header-grid-produtos">
        <div class="header text-left col-2">Nome Produto</div>
        <div class="header text-left col-4">Descrição</div>
        <div class="header text-left col-2">Valor</div>
    </div>
    <div class="row mb-3">
        <ul class="col-12">
          <li class="row li-produtos" *ngFor="let item of modelProdutos">
            <div class="text-left col-2 align-middle">
             <span>{{ item.Nome }}</span>
            </div>
            <div class="text-left col-4 align-middle">
              <span>{{ item.descricao }}</span>
            </div>
            <div class="text-left col-2 align-middle">
              <span>R${{ item.preco }}</span>
            </div>
            <div class="text-left col-2 align-middle">
              <a class="nav-link active" [routerLink]="['produtos']" [queryParams]="{ id: item.id }">Editar</a>
            </div>
          </li>
        </ul>
    </div>
  </div>
  <div *ngIf="erros" >
    {{ mensagemErro }}
  </div>
</div>
