@import '../../sass/variables';

.produtos{
  padding-top: 20px;
}
.li-produtos {
  align-items: center;
}
#header-grid-produtos{
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: $fonteTextoGrande;
  color: $colorVerdeMusgo;
}
.adicionar-produto{
  color: $colorVerdeMusgo;
}
