<nav id="sidebar">
  <div class="sidebar-border">
    <div class="sidebar-header">
      <div class="row">
        <div class="col-12 sidebar-title">
          Agro App
        </div>
        <!-- <div class="col-12 sidebar-logo"> -->
          <!-- <div class="border-box"></div> -->
          <!-- <img class="img-logo" src="assets/img/logos/logo-bs2-white.svg" alt="logo-app"> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <ul id="menusNavBar" class="list-unstyled components navbar-nav sidebar-menu">
    <li >
      <a class="nav-link" title="HOME" [routerLink]="['/home']">
        <img src="../../assets/img/home.svg" alt="Home">
        <span class="menu-item">
          Home
        </span>
      </a>
    </li>
    <li >
      <a class="nav-link" title="Produtos" [routerLink]="['/produtos']">
        <img src="../../assets/img/folha.svg" alt="Produtos">
        <span class="menu-item">
          Produtos
        </span>
      </a>
    </li>
    <li >
      <a class="nav-link" title="Solicitações de Serviço" [routerLink]="['/solicitacoes']">
        <img src="../../assets/img/compras.svg" alt="Solicitações de Serviço">
        <span class="menu-item">
          Solicitações de Serviço
        </span>
      </a>
    </li>
    <li >
      <a class="nav-link" title="Logística" [routerLink]="['/logistica']">
        <img src="../../assets/img/transporte.svg" alt="Logística">
        <span class="menu-item">
          Logística
        </span>
      </a>
    </li>
  </ul>
</nav>
